<!DOCTYPE html>
<html lang="en">

  <head>

    <script src="https://wchat.freshchat.com/js/widget.js"></script>

<script> function createFcn(nm){(window.freshsales)[nm]=function(){(window.freshsales).push([nm].concat(Array.prototype.slice.call(arguments,0)))}; } (function(url,appToken,formCapture){window.freshsales=window.freshsales||[];if(window.freshsales.length==0){list='init identify trackPageView trackEvent set'.split(' ');for(var i=0;i<list.length;i++){var nm=list[i];createFcn(nm);}var t=document.createElement('script');t.async=1;t.src='https://d952cmcgwqsjf.cloudfront.net/assets/analytics.js';var ft=document.getElementsByTagName('script')[0];ft.parentNode.insertBefore(t,ft);freshsales.init('https://webinar.freshsales.io','ab3b1e545ca09ab1d652864d411389e50b272ba9439fd31971afed65c7c94724',true);}})();</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <script>
  window.fcWidget.init({
    token: "358f71ee-47cc-4590-ab81-6102d1cf804e",
    host: "https://wchat.freshchat.com"
  });
</script>



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: #f05f40;">ACME Corp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color: #f05f40;" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color: #f05f40;" href="#services" id="a-pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color: #f05f40;" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>A company that makes everything</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Your one-stop shop for a variety of products which may or may not function exactly as advertised. Renowned for express shipping that has FedEx drooling in jealousy</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">Learn More</a>
          </div>
        </div>
      </div>
    </header>

    <section id="services" style="padding-top: 80px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Pricing</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-bottom: 80px;">
      <div style="border: 1px solid #f05f40;">
        <div style="padding: 10px 15px; background-color: #f05f40; color: #fff; width: 300px; text-align: center;">Starter</div>
        <div style="height: 250px">
            <div style="font-size: 40px; text-align: center; margin-top: 20px;">$12</div>
            <div class="text-center" style="font-size: 13px;">Per User/Month</div>
            <br/>
            <ul style="text-align: center; list-style: none; margin: 0; padding: 0; font-size: 15px; line-height: 2.2;">
                <li>Limited chat support</li>
                <li>Delivery of 5 ACME products</li>
                <li>Access from anywhere</li>
            </ul>
        </div>
      </div>
      <div style="border: 1px solid #f05f40; margin-left: 10px;">
        <div style="padding: 10px 15px; background-color: #f05f40; color: #fff; width: 300px; text-align: center">Pro</div>
        <div style="height: 250px">
            <div style="font-size: 40px; text-align: center; margin-top: 20px;">$20</div>
            <div class="text-center" style="font-size: 13px;">Per User/Month</div>
            <br/>
            <ul style="text-align: center; list-style: none; margin: 0; padding: 0; font-size: 15px; line-height: 2.2;">
                <li>All in Starter</li>
                <li>Delivery of 15 ACME products</li>
                <li>24/7 Free Support</li>
            </ul>
        </div>
      </div>
      <div style="border: 1px solid #f05f40; margin-left: 10px;">
        <div style="padding: 10px 15px; background-color: #f05f40; color: #fff; width: 300px; text-align: center">Business</div>
        <div style="height: 250px">
            <div style="font-size: 40px; text-align: center; margin-top: 20px;">$35</div>
            <div class="text-center" style="font-size: 13px;">Per User/Month</div>
            <br/>
            <ul style="text-align: center; list-style: none; margin: 0; padding: 0; font-size: 15px; line-height: 2.2;">
                <li>All in Pro</li>
                <li>Get access to our entire catalog</li>
                <li>On Site Trainings</li>
                <li>Customizable Reports</li>
            </ul>
        </div>
      </div>
    </div>



    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Download free resources crafted with insights from our customers and the industry experts!</h2>
        <a id="download_button" class="btn btn-light btn-xl sr-button" href="../img/header.jpg" download>Download Now!</a>
        <script>
          $("#download_button").click(function() {freshsales.trackEvent('Downloaded')})
          document.getElementById("a-pricing").addEventListener("click", function() {
            freshsales.trackEvent('Pricing section visited')
          });
        </script>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">If you’re ever in need of any ACME products, get in touch with us here. Because that’s what we’re here to do. 
</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@acmecorp.com</a>
            </p>
          </div>
        </div>
        <%= form_for(@user) do |f| %>
          <div class="row" style="margin-top: 60px;">
            <div class="col-lg-4 text-center" style="align-self: center; margin: auto;">
              <%= f.text_field :name, class: 'form-control email-style', placeholder: "Enter your name"%><br>
              <%= f.text_field :company , class: 'form-control email-style', placeholder: "Enter your company name"%><br>
              <%= f.email_field :email , class: 'form-control email-style', placeholder: "Enter your email"%><br>
              <div class="mr-auto text-center">
                <%= f.submit "Sign up!", class: "btn btn-primary signup-button-style"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
<!-- 

    <script src='https://acme.freshsales.io/web_forms/db6b6509e40d0045e754871bacaa2f7016fc5fbde2ff8256aa34d3a77faabba3/form.js' crossorigin='anonymous' id='fs_db6b6509e40d0045e754871bacaa2f7016fc5fbde2ff8256aa34d3a77faabba3'></script>
 -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- 
    <script type="text/javascript">
      $("#download_button").click(function(){
        freshsales.trackEvent("Clicked Download button", { "download type" : "white paper" })
      });
    </script> -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<!--     <%= form_for(@user) do |f| %>
      <div class="col-lg-4 ml-auto text-center" style="align-self: center;">
        <%= f.label :email %>
        <%= f.email_field :email , class: 'form-control' %><br>
      </div>

      <div class="mr-auto text-center">
        <%= f.submit "Sign up!", class: "btn btn-primary", style: "padding-left: 20px; padding-right: 20px; text-transform: initial;"%>
      </div>

    <% end %> -->
  </div>
</div>




    <!-- Custom scripts for this template -->
    <script src="app/assests/javascripts/creative.min.js"></script>

    <script>
      window.addEventListener('scroll', function(e) {
        console.log(window.scrollY)
        if (window.scrollY > 50) {
          document.getElementById('mainNav').classList.add('bg-white');
        } else {
          document.getElementById('mainNav').classList.remove('bg-white');
        }
      });
    </script>

        <style>

         .bg-white {
          background: #fff;
         }

          .fserv-container {
            /*box-shadow: none;*/
            margin-top: -80px;
          }

          .fserv-container button[type=submit].fserv-button-submit {
            background: #f05f40 !important;
            border-radius: 300px;
          }

          .powered-by {
            display: none;
          }

          .fserv-field+div:not(.fserv-field) {
            border-top: none;
                        text-align: center !important;
          }

          .fserv-container .fserv-label, .fserv-container button {
            font-family:Merriweather,'Helvetica Neue',Arial,sans-serif !important;
            font-weight: 400;
            color: #000 !important;
            font-size: 15px !important;
          }

          .fserv-container button {
            color: #fff !important;
          }

          .fserv-container .fserv-input-text {
            border-radius: 30px;
            /*text-align: center;*/
            width: 300px !important;
          }

          .fserv-field {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .email-style {
            border-radius: 20px;
            text-align: center;
          }

          .signup-button-style {
            padding-left: 20px;
            padding-right: 20px;
            text-transform: initial;
          }

/*          .fserv-label {
            padding-bottom: 0 !important;
            width: 80px !important;
            text-align: right !important;
          }

          fserv-form > .fserv-field:first-child .fserv-label {
            width: 100px !important;
          }

          .fserv-form > .fserv-field:first-child, .fserv-form > .fserv-field:nth-child(2) {
            float: left !important;
            width: 420px;
            padding-left: 0;
            padding-right: 0;
          }

          .fserv-container {
            max-width: 1020px;
          }

          .fserv-field+.fserv-field {
            margin-top: 0;
          }

          .fserv-container div {
            margin-top: 0;
          }*/
        </style>

  </body>

</html>
