<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

<div class="container">
    <% flash.each do |key, value| %>
<% if value.present? %>
        <%= content_tag :div, :class => "alert alert-success", :style => "color: #fff" do %>
      <%= value %>
      <%= link_to products_path, :class => "close", :"data-dismiss" => "alert", :"aria-label" => "Close" do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

  

    <div style="padding: 20px; background: #000; width: 100%;" class="clearfix">
        <div style="float: left; color: #fff;">
          <span style="color: #f25e38;">ACME</span> CORP
        </div>
        <div style="float: right; color: #fff;">
          <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000" d="M0 0h24v24H0V0z"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" fill="#fff"/></svg>
         </div>
        </div>
    </div>

    <div style="margin: 40px 50px 0">
      <div class="text-right">
       <!--  <button class="btn btn-primary">Checkout</button> -->

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#f05f40" d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        <%= link_to "Checkout", { :controller => "products", :action => "checkout"}, class: "pull-right"%>
      </div>
      <ul style="list-style: none; display: flex; justify-content: flex-start; flex-wrap: wrap; margin: -40px; padding: 100px 40px 40px;">
        <% @products.each do |product| %> 
        <li style="height: 300px;border: 1px solid #ddd;padding: 30px;display: flex;flex-direction: column;justify-content: space-between;align-items: center; width: 300px; margin: 40px 10px;">
          <%= link_to image_tag(product.image),
                product_path(product.id), :class => 'text-center product-image-aka' %>
                <div class="text-center">
                         <div><%= product.product_name %> </div>
                        <div> $ <%= product.product_rate %></div></div>
          <div class="btn btn-group">
            <%= link_to "Add to cart", { :id => product.id, :controller => "products", :action => "add_item"}, :class => "btn btn-primary" , :style => "text-transform: none; font-weight: 400;"%>
             <%= link_to "Add to wish list", { :id => product.id,:controller => "products", :action => "add_wish"}, :class => "btn btn-primary", :style => "border-left: 1px solid #fff !important; text-transform: none; font-weight: 400;" %>

          </div>
        </li>
        <% end %> 
      </ul>
    </div>

    <style>
     .product-image-aka img {
       height: 120px;
       margin: auto;
       text-align: center;
     }

     .alert.alert-success {
       color: #fff;
       position: fixed;
       bottom: 30px;
       right: 20px;
       background: #48b761;
       border: 0;
       padding: 27px;
       box-shadow: 2px 3px 5px #ccc;
     }

     .alert.alert-success .close, .alert.alert-success .close:hover {
      color: #fff;
      margin-left: 10px;
      opacity: 1;
     }
  </style>

    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="app/assests/javascripts/creative.min.js"></script>

  </body>

</html>
